name: Arduino Lint
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  arduino-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/arduino-lint-action@v2
        with:
          library-manager: update
          compliance: specification
          project-type: library