name: cpplint
on: [push, pull_request]
jobs:
  cpplint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: |
        pipx install cpplint
        cpplint --recursive \
          --filter=-build/include_subdir,-build/header_guard,-runtime/int,-readability/braces \
          --linelength=120 \
          src/